body {
  width: 1366px;
  height: 1215px;
}
header {
  background-color: #404eed;
  height: 89px;
  width: 1366px;
  border: none;

  display: flex;
  align-items: center;
}
header img {
  margin-left: 80px;
}
main {
  width: 1366px;
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #232323;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #232323;

  margin-top: 8px;
}
.order-content {
  height: 100%;
  width: 50%;
  margin-top: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.order {
  display: flex;
  flex-direction: column;
  align-items: start;

  margin-left: 125px;
}
.order-card-content {
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.selected {
  border: 3px solid #404eed;
  box-sizing: border-box;
}
.unselected {
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
}
.order-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 8.5px;
}
.order-card-img {
  height: 100px;
  width: 100px;

  background: #f2f2f2;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.order-card-input {
  width: 400px;
  margin-top: 9.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order input {
  padding-left: 15px;
  width: 396.27px;
  height: 40px;

  background: #f2f2f2;
  border-radius: 10px;
  border: none;
}
input,
input:focus,
input:hover,
input:active {
  outline: none;
  box-shadow: none;
}
::placeholder {
  font-weight: 400;
  font-size: 14px;

  color: #818181;
}
.order-button {
  margin-top: 24px;

  width: 398.61px;
  height: 40px;

  background: #c4c4c4;
  border-radius: 10px;
  border: none;
}
.enable {
  background: #404eed;
}

.button-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #fcfcfc;
}
.image-content {
  background-color: #404eed;
  height: 785px;
  width: 670.5px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
.last-order-content {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  justify-content: center;

  width: 1366px;
  height: 342px;
}
.last-order-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: scroll;
}
.last-order-card {
  height: 236px;
  width: 202px;
  border-radius: 10px;

  margin-left: 16px;
  margin-right: 16px;

  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.last-order-card-img {
  height: 180px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.last-order-card-img img {
  width: 90%;
  height: 90%;
}
.last-order-card-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.text-owner {
  font-weight: 700;
}
