header {
  background-color: #404eed;
  height: 89px;
  width: 1366px;
  border: none;
}
header img {
  padding-top: 16px;
  padding-left: 80px;
}
main {
  width: 1366px;
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #232323;
}
main p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #232323;

  margin-top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.order-content {
  height: 100%;
  width: 50%;
  margin-top: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.order {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.order-card-content {
  display: flex;
  margin-left: 125px;
  width: 400px;
  justify-content: space-between;
}
.selected {
  border: 3px groove #404eed;
}
.unselected {
  border: 0.5px groove #c4c4c4;
}
.order-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 8.5px;
}
.order-card-img {
  height: 100px;
  width: 100px;

  background: #f2f2f2;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.image-content {
  background-color: #404eed;
  height: 785px;
  width: 670.5px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
